    <nav class="nav">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Saved Articles</a>
        <button class="btn" type="submit" id="scrape">Scrape Articles</button>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Mongo Scraper</h1>
            <p class="lead">Grab the top news stories from around the world.</p>
        </div>
    </div>
    <br><br>
    <div id="container">
            <div class="results">
            </div>

    <div class="saved-articles">

    </div>
    </div>