<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Mongo-Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">Saved Articles</a>
                <button type="button" class="btn">Scrape Articles</button>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Mongo Scraper</h1>
            <p class="lead">Grab the top news stories from around the world.</p>
        </div>
    </div>
    <br><br>
    <div id="container">
            <div class="results">
            </div>
    </div>