<nav class="nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/savedarticles">Saved Articles</a>
        <button class="btn" type="submit" id="scrape">Scrape Articles</button>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Saved Articles</h1>
    </div>
</div>
<br><br>
<div class="saved-articles">

</div>