body{
    background-image: url("img/bundle-1853667_1920.jpg");
}
nav{
    background-color: #499CA3;
    margin-top: 5px;
}
.nav-link{
    color: #F3F0F0;
}
.jumbotron{
    background-color: #31686E;
    margin-top: 10px;
}
h1, p{
    text-align: center;
    color: #F3F0F0;
}

.card{
    background-color: #499CA3;
    color:#F3F0F0;
    border: #302F2F 1px;
    border-style: groove;
}
.btn{
    background-color: #6FEEFA;
    float: right;
}